/* CSS */
#caixa {
    background-color: lightblue; /* cor de fundo */
    width: 300px; /* largura da caixa*/
    border: 15px solid green; /* borda verde de caixa */
    padding: 50px; /* espaçamento interno da caixa */
    margin: 50px auto; /* espaçamento externo da caixa */

}